<div class="container">
  <mat-card class="mt-4">
    <form class="mt-4">
      <mat-form-field appearance="fill" class="mb-3">
        <mat-label>Contraseña nueva:</mat-label>
        <input matInput [type]="verContrasena ? 'text' : 'password' " [formControl]="contrasena" (input)="compararContrasenas()" autofocus>
        <mat-icon matSuffix (click)="verContrasena = !verContrasena">{{verContrasena ? 'visibility' : 'visibility_off'
          }}</mat-icon>
        <mat-error *ngIf="contrasena.hasError('required')">
          La contraseña nueva es <strong>requerida</strong>.
        </mat-error>
        <mat-error *ngIf="contrasena.hasError('minlength')">
          Mínimo <strong>{{ minimoCaracteres }}</strong> caracteres.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" [class.mat-form-field-invalid]="!(repetirContrasena.valid && contrasenasSeParecen) && repetirContrasena.touched">
        <mat-label>Repita la contraseña:</mat-label>
        <input matInput [type]="verContrasena ? 'text' : 'password' " [formControl]="repetirContrasena" (input)="compararContrasenas()">
        <mat-error *ngIf="repetirContrasena.hasError('required')">
          Es necesario que repita la contraseña.
        </mat-error>
        <mat-hint class="mat-error" *ngIf="repetirContrasena.valid && !contrasenasSeParecen">
          La contraseña no coincide con la anterior.
        </mat-hint>
      </mat-form-field>
    </form>
    <button (click)="cambiarPassword()" [disabled]="!(camposValidos && contrasenasSonIguales) || deshabilitarBotones" class="submit-btn my-4" mat-raised-button mat-button
      color="primary">
      Cambiar contraseña
    </button>

  </mat-card>
</div>
