.container {
  display: flex;
  justify-content: center;
}

mat-card {
  margin-top: 2rem;
  width: 36rem !important;
  padding: 15px;
  margin: auto;
  text-align: center;
}

mat-form-field {
  display: block;
  width: 80%;
  margin: auto;
}

.submit-btn {
  width: 80%;
  margin-bottom: 2rem;
}
